@import "../common/media-mixin.scss";

.clear-basket {
  display: flex;
  justify-content: space-between;
  user-select: none;
  margin-bottom: 10px;
  h2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}

@include phone {
  .clear-basket {
    justify-content: center;
    h1 {
      display: none;
      font-weight: 400;
      span {
        font-weight: 900;
      }
    }
    h2 {
      font-size: 20px;
      font-weight: 500;
      span {
        font-weight: 900;
        color: #fe5f1e;
      }
    }
  }
}

// /////////// price block

.price-block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .tottal-count {
    font-weight: 600;
    span {
      font-size: 26px;
      font-weight: bolder;
    }
  }
  .tottal-price {
    font-weight: 600;
    span {
      font-weight: 900;
      color: #fe5f1e;
    }
  }
}

@include phone {
  .price-block {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

// items

.items-block {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
  height: 60vh;
  .buy-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #f4f4f4;
    .left-block {
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
      }
      @include phone {
        img {
          width: 50px;
          height: 50px;
        }
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .right-block {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add-remove-item {
        display: flex;
        align-items: center;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          width: 30px;
          border-radius: 50%;
          border: 2px solid #fe5f1e;
          color: #fe5f1e;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: #fe5f1e;
          }
        }
        h2 {
          margin: 0 10px;
        }
      }
      .remove-item {
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid #fe5f1e;
        color: #fe5f1e;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #fe5f1e;
        }
      }
      @include phone {
        .add-remove-item {
          button {
            width: 20px;
            font-size: 16px;
          }
          h2 {
            margin: 0 5px;
            font-size: 20px;
          }
        }
        .item-price {
          font-size: 16px;
        }
        .remove-item {
          width: 20px;
          font-size: 16px;
        }
      }
    }
  }
  @include mediaQery(360px) {
    .buy-item {
      flex-direction: column;
      align-items: center;
      .left-block {
        width: 100%;
      }
      .right-block {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}
